/*Ajustes generales para toda la página*/

*{
	margin:0px;
	padding:0px;
	font-family: sans-serif, cursive, monospace;
	font-size: medium;	
}

/* hoja de estilos ejercicio 02 de LMSGI creacion de página HTML 5 */
/* Cabecera de página*/

.portada{
	height:180px;
	border-color:1px solid black;
	
}

.cabecera{
	background-image:url(../img/cabecera/california-1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin:auto;
	height:180px;
	opacity:0.8;
}

.rotulo{
	color:blue;
	text-align:center;
	
}

.logo{
	position:relative;
	width:180px;
	height:67px;
	top:20px;
	left:20px;
	
}
.logo-car{
	position:relative;
	width:150px;
	height:50px;
	border-radius:25px;
	padding:10px 0px 0px 15px; 

}
	
/*Cuerpo del documento*/
	
.index{
	background-image: url(../img/cabecera/ruta-66-2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding-bottom:20em;
	
}

/*Barra de navegacion*/

.menu ul{
	display:inline;
	text-decoration:none;

}