/*Ajustes generales para toda la página*/

*{
	margin:auto;
	padding:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif, monospace ;

}

/* hoja de estilos ejercicio 02 de LMSGI creacion de página HTML 5 */
/* Cabecera de página*/

.portada{
	height:180px;
	border-color:1px solid black;

}

.cabecera{
	background-image:url(../img/cabecera/california-1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin:auto;
	height:180px;
}

.rotulo{
	position:absolute;
	color:#D6D1A1;
	text-align:center;
	font-size:25px;
	top:135px;
	width:250px;
	height:44px;
}

.logo{
	position:absolute;
	width:160px;
	height:52px;
	top:90px;
	left:70px;

}
.logo-car{
	position:relative;
	width:150px;
	height:50px;
	border-top-color: white ;
	border-radius:10px 10px 10px 10px;


}

/*Cuerpo del documento*/

.index{
	background-image: url(../img/cabecera/ruta-66-2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	margin:auto;
}

/*Barra de navegacion*/

.navegacion{
	width: auto;
	height: 60px;
    margin-left: 260px;
    position: fixed;
}
.navegacion ul{
	list-style: none;
	text-decoration: none;
}

/*Menú principal*/
.menu{
    background: #8EACB6;
    border-radius: 10px;
}
.menu >li{
   display: inline-block;

}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	font-family: monospace;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
    color: #3B3833;
}
.menu > li > a:hover{
	color: #C5D3A7;
	transition: all 0.3s;
}
/*submenu*/
.submenu{
	position: absolute;
	width: 160px;
	margin-left: 20px;
	visibility: hidden;
    background: #8EACB6;
    border-radius: 10px;
}
.submenu li a{
	display: block;
	padding: 10px 10px;
	color: #3B3833;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
	text-decoration: none;
}
.submenu li a:hover{
    color: #C5D3A7;
    transition: all 0.3s;
}
.menu li:hover .submenu{
  visibility: visible;
}
/*seccion principal la cual contiene todo el contenido*/
.principal{
    margin: opx;
    padding: opx;
}
/*seccion central articulos pagina*/
.contenido{
	background-color: #C5CCB6;
	width:75%;
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 10px;
	padding: 20px 0px 20px 20px;
}
/*seccion lateral notas y enlaces sobre el contenido principal articulos*/
#lateral{
    background-color: #FFF;
    width: 21%;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top:20px;
}
/*Pie de página informacion personal, etc.*/
.pie{
    background-color: #102D40;
    height: 150px;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 20px;
}

/*Articulo Todoterrenos*/
/*imagen*/
.todocamino{
	width:200px;
	height:150px;
	float:right;
	margin-right:25px;
    padding: 10px 10px 10px 20px;
}
/*cabecera articulo todoterrenos*/
#todoterreno{
	text-align:center;
	font-size:30px;
    color:#3B3833;
    padding: 45px 0px 20px 0px;
}

/*Articulo Q7*/
/*imagen*/
.Q7{
	width:350px;
	height:300px;
	float:right;
	margin-right:25px;
    padding: 40px 10px 10px 20px;
}
#q7{
    text-align: center;
    font-size:30px;
    color:#3B3833;
    padding: 55px 0px 20px 0px;
}
/*Articulo Jeep Commander*/
/*imagen*/
.commander{
	width:350px;
	height:300px;
	float:right;
	margin-right:25px;
    padding: 55px 10px 10px 20px;
}
#jeep{
    text-align: center;
    font-size:30px;
    color:#3B3833;
    padding: 45px 0px 20px 0px;
}
/*Articulo Furgonetas*/
/*imagen*/
.furgoneta{
	width:200px;
	height:150px;
	float:right;
	margin-right:25px;
    padding: 10px 10px 10px 20px;
}
/*cabecera articulo Furgonetas*/
#furgo{
	text-align:center;
	font-size:30px;
    color:#3B3833;
    padding: 45px 0px 20px 0px;
}
/*Articulo Volkswagen Caravelle*/
.caravelle{
	width:350px;
	height:300px;
	float:right;
	margin-right:25px;
    padding: 55px 10px 10px 20px;
}
#volkswagen{
    text-align: center;
    font-size:30px;
    color:#3B3833;
    padding: 45px 0px 20px 0px;
}
/*Tablas stilos*/
table{
    border-collapse: collapse;
    
}
td, th {
  border: 1px solid #47484B;
  text-align: left;
  padding: 8px;
}

/*Estilos de Parrafos en Main*/
p{
    margin-left: 15px;
    margin-right: 20px;
}
br{
    padding: 10px;
}
/*Separador articulos*/
hr{
    margin-top: 20px;
    margin-bottom: 10px;
}

/*Diseño responsivo*/

@media only screen and (max-width:800px) {
  /* Para Tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* Para Smartphones: */
  .menu, .main, .right {
    width: 100%;
  }
}
